<%- include('header') -%>
<%- include('nav') -%>
<div class="card pt-5 pt-5 mt-5 mb-5 ml-5 mr-5">
    <h1>Challenge page !</h1>
    <h2>Vous devez relever ce défi pour gagner un prix</h2>
    <hr>
    <ul>
        <li>La règle est toute simple, appuyez sur le bouton et essayez d'avoir un score supérieur au mien</li>
        <li>Score à battre: <strong>99999</strong></li>
    </ul>

    <p><%= locals.getmessage ? getmessage : "Message :" %></p>
    <form action="challenge" method="post" onsubmit="document.getElementsByName('score')[0].value = Math.floor(Math.random() * 100001)">
        <input type="hidden" name="score" value="-1">
        <input type="submit" name="generate" value="Go !">
    </form>
</div>
    <%- include('footer') -%>
